.DS_Store
Douradinho.xcodeproj/project.xcworkspace/xcshareddata/Douradinho.xccheckout
Douradinho.xcodeproj/project.xcworkspace/xcuserdata/Everton.xcuserdatad/UserInterfaceState.xcuserstate
Douradinho.xcodeproj/xcuserdata/Everton.xcuserdatad/xcschemes/Douradinho.xcscheme
Douradinho.xcodeproj/xcuserdata/Everton.xcuserdatad/xcschemes/xcschememanagement.plist
