Douradinho.xcodeproj/xcuserdata/evertonmaverick.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Douradinho.xcodeproj/xcuserdata/evertonmaverick.xcuserdatad/xcschemes/Douradinho.xcscheme
Douradinho.xcodeproj/xcuserdata/evertonmaverick.xcuserdatad/xcschemes/xcschememanagement.plist
